<div class="page">
    <app-page-header title="Admin"></app-page-header>

    <div id="content">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Historique des parties">
                    <p><app-icon icon="history"></app-icon> Page admin de l'historique de parties</p>
                </mat-tab>
                <mat-tab label="Dictionnaire">
                    <p><app-icon icon="book"></app-icon> Page admin dictionnaire</p>
                </mat-tab>
                <mat-tab label="Joueurs virtuels">
                    <p><app-icon icon="user"></app-icon> Page admin des joueurs virtuels</p>
                </mat-tab>
                <mat-tab label="Meilleurs scores">
                    <p><app-icon icon="trophy"></app-icon> Page admin des meilleurs scores</p>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
