<!-- <div class="flex-center" class="height-100">
    <button mat-raised-button class="rack-tile-button height-100">
        <mat-card class="height-100 rack-tile-button">
            <mat-card-title align="center">
                {{ getTile().letter }}
            </mat-card-title>
            <mat-card-subtitle align="center">
                {{ getTile().value }}
            </mat-card-subtitle>
        </mat-card>
    </button>
</div> -->

<div class="tile" [style.background]="'url(' + bgPath + ')'" [style.fontSize]="fontSize">
    <p class="letter">{{ tile.letter }}</p>
    <p class="value">{{ tile.value }}</p>
</div>