<div class="container centered">
    <mat-card>
        <p class="waiting-message">En attente que l'hôte vous accepte.</p>

        <mat-progress-bar class="progress" mode="indeterminate"></mat-progress-bar>
        <div class="grid">
            <!-- <div id="cell" class="align-left">Votre nom:</div>
        <div id="cell" class="align-right">{{ currentName }}</div>
        <div id="cell" class="align-left">Votre adversaire:</div>
        <div id="cell" class="align-right">{{ currentLobby.hostName }}</div>
        <div id="cell" class="align-left">Type de partie:</div>
        <div id="cell" class="align-right">{{ currentLobby.gameType }}</div>
        <div id="cell" class="align-left">Temps par tour:</div>
        <div id="cell" class="align-right">{{ currentLobby.maxRoundTime }} secondes</div>
        <div id="cell" class="align-left">Dictionnaire:</div>
        <div id="cell" class="align-right">{{ currentLobby.dictionary.title }}</div> -->
            <div class="align-left">Votre nom :</div>
            <div class="align-right">Mathilde</div>
            <div class="align-left">Votre adversaire :</div>
            <div class="align-right">Trouc</div>
            <div class="align-left">Type de partie :</div>
            <div class="align-right">Classique</div>
            <div class="align-left">Temps par tour :</div>
            <div class="align-right">60</div>
            <div class="align-left">Dictionnaire :</div>
            <div class="align-right">Français</div>
        </div>
        <button id="cancel-button" mat-flat-button color="primary" [routerLink]="'/lobby'">Annuler</button>
    </mat-card>

    <mat-card class="fun-fact-box">
        <p id="intro">Le saviez-vous ?</p>
        <p id="fact">{{ funFact }}</p>
    </mat-card>
</div>
