<div id="page-container">
    <div class="top-level-grid">
        <div class="grid-item-container">
            <app-information-box></app-information-box>
        </div>
        <div class="horizontal-grid">
            <div class="vertical-grid">
                <div class="grid-item-container">
                    <app-board #boardComponent></app-board>
                </div>
                <div class="grid-item-container">
                    <app-tile-rack #tileRackComponent></app-tile-rack>
                </div>
                <div class="grid-item-container" id="button-group">
                    <mat-card>
                        <div>
                            <button mat-flat-button id="surrender-dialog-button" (click)="quitButtonClicked()" color="primary">
                                <ng-container *ngIf="!gameService.isGameOver">
                                    <app-icon icon="flag-alt" styling="solid"></app-icon>
                                    <span> Abandonner</span>
                                </ng-container>
                                <ng-container *ngIf="gameService.isGameOver">
                                    <app-icon icon="door-open" styling="solid"></app-icon>
                                    <span *ngIf="gameService.isGameOver"> Quitter</span>
                                </ng-container>
                            </button>
                        </div>
                        <div matTooltip="Ce n'est pas votre tour de jouer" matTooltipPosition="above" [matTooltipDisabled]="canPlay()">
                            <button mat-flat-button color="primary" [disabled]="!canPlay()" (click)="hintButtonClicked()">
                                <app-icon icon="lightbulb" styling="solid"></app-icon> Indice
                            </button>
                        </div>
                        <div matTooltip="Ce n'est pas votre tour de jouer" matTooltipPosition="above" [matTooltipDisabled]="canPlay()">
                            <button mat-flat-button color="primary" [disabled]="!canPlay()" (click)="passButtonClicked()">
                                <app-icon icon="redo"></app-icon> Passer
                            </button>
                        </div>
                        <div
                            matTooltip="Ce n'est pas votre tour de jouer ou vous n'avez pas placé de mot encore"
                            matTooltipPosition="above"
                            [matTooltipDisabled]="canPlaceWord()"
                        >
                            <button mat-flat-button color="primary" [disabled]="!canPlaceWord()" (click)="placeButtonClicked()">
                                <app-icon icon="square" styling="solid"></app-icon> Placer
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="sidebar-section">
                <div class="communication-box-container">
                    <app-communication-box></app-communication-box>
                    <div class="text-button-container">
                        <mat-card>
                            <span><app-icon icon="text-size"></app-icon> Taille de la police</span>
                            <div class="text-buttons">
                                <button mat-flat-button id="minus-button" color="primary" (click)="changeTileFontSize('smaller')">
                                    <app-icon icon="minus"></app-icon>
                                </button>
                                <button mat-flat-button id="plus-button" color="primary" (click)="changeTileFontSize('larger')">
                                    <app-icon icon="plus"></app-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
