<div id="page-container">
    <div class="top-level-grid">
        <div class="grid-item-container">
            <app-information-box></app-information-box>
        </div>
        <div class="horizontal-grid">
            <div class="vertical-grid">
                <div class="grid-item-container">
                    <app-board #boardComponent></app-board>
                </div>
                <div class="grid-item-container">
                    <app-tile-rack #tileRackComponent></app-tile-rack>
                </div>
                <div class="grid-item-container" id="button-group">
                    <mat-card>
                        <button mat-flat-button id="surrender-dialog-button" (click)="quitButtonClicked()" color="primary">
                            <app-icon icon="ban"></app-icon>
                            <span *ngIf="!gameService.isGameOver"> Abandonner</span>
                            <span *ngIf="gameService.isGameOver"> Quitter</span>
                        </button>
                        <button mat-flat-button color="primary" [disabled]="!isLocalPlayerTurn()" (click)="createPassAction()">
                            <app-icon icon="redo"></app-icon> Passer
                        </button>
                        <div matTooltip="Veuillez utiliser le chat" matTooltipPosition="above">
                            <button mat-flat-button color="primary" [disabled]="true">
                                <app-icon icon="square" styling="solid"></app-icon> Placer
                            </button>
                        </div>
                        <div matTooltip="Veuillez utiliser le chat" matTooltipPosition="above">
                            <button mat-flat-button color="primary" [disabled]="true"><app-icon icon="check"></app-icon> Confirmer action</button>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="sidebar-section">
                <div class="communication-box-container">
                    <app-communication-box></app-communication-box>
                    <div class="text-button-container">
                        <mat-card>
                            <span><app-icon icon="text-size"></app-icon> Taille de la police</span>
                            <div class="text-buttons">
                                <button mat-flat-button id="minus-button" color="primary" (click)="changeTileFontSize('smaller')">
                                    <app-icon icon="minus"></app-icon>
                                </button>
                                <button mat-flat-button id="plus-button" color="primary" (click)="changeTileFontSize('larger')">
                                    <app-icon icon="plus"></app-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
