.space-between {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;

}

#text-button-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
}