@import '../../style/variables.scss';

.primary {
    color: $primary;
}
.secondary {
    opacity: 0.45;
}

#buttons-container {
    text-align: right;
    margin-top: 25px;
}

.bold-primary {
    color: $primary;
    font-weight: 500;
}