@import '../../style/variables.scss';
@import '../../style/utils.scss';

::ng-deep body {
    background: $page-background;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5vh;

    mat-card {
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: calc(100% - 24px);

        p:first-child {
            font-size: larger;
        }

        mat-progress-bar {
            width: 100%;
            margin-bottom: 2em;
        }

        .players {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 1vw;

            .name {
                font-size: 1.2em;
            }

            #vs {
                font-size: 0.9em;
                font-weight: 600;
                opacity: 0.55;
            }
        }

        .chip-list {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            margin-bottom: 2.75em;

            .chip {
                @include no-select;
                background: $gray;
                padding: 2px 12px;
                border-radius: 100px;
                font-size: 0.85em;

                app-icon {
                    margin-right: 5px;
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-right: 6px;
                }
            }
        }

        .button-box {
            display: flex;
            flex-direction: column;
            height: 35%;
            align-content: center;

            .button {
                margin-bottom: 6px;
                width: 100%;
            }
        }
    }

    mat-card.top-box {
        max-width: 350px;
    }

    mat-card.fun-fact-box {
        max-width: 750px;
        text-align: center;

        #intro {
            color: $primary;
            font-weight: bold;
            font-style: italic;
            font-size: larger;
        }
    }
}

#game-creation-waiting-container {
    margin-top: -64px;
    display: grid;
    align-items: center;
    justify-items: center;

    mat-label {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 24px;
    }
}

::ng-deep snack-bar-container.error {
    background: lighten(tomato, 30%);
    color: tomato;

    button {
        color: tomato;
    }
}
