<div class="container justified">
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <section id="button-group" class="justified">
        <button mat-flat-button color="primary" routerLink="/404notfound">Rejoindre une partie</button>
        <button mat-flat-button color="primary" routerLink="/game-creation">Créer une partie</button>
        <button mat-flat-button color="primary" routerLink="/high-score">Meilleurs scores</button>
    </section>
    <div class="footer-item">
        <h4 class="team-name">Équipe 212</h4>
        <p>
            Par: <span>Thomas Trépanier</span>, <span>Vincent Haney</span>, <span>Charles-François St-Cyr</span>, <span>Mathilde Brosseau</span>,
            <span>Raphael Salvas</span>
        </p>
    </div>
</div>
