@import '../../style/variables.scss';

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;

    .content {
        display: flex;
        max-width: $page-max-width;
        margin: 0 auto;
        justify-content: space-between;

        .back-btn {
            display: flex;
            align-items: center;
            cursor: pointer;

            app-icon {
                color: $primary;
                margin-right: 8px;
                font-size: 1.1em;
            }

            img {
                height: 22px;
                width: auto;
            }
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
        }

        .link {
            text-decoration: none;
            font-size: 1.2em;
            color: $primary;
            transition: ease-in opacity 0.05s;

            &:hover {
                opacity: 0.55;
                transition: ease-in opacity 0.1s;
            }
        }
    }
}