<div class="loading-page" [ngClass]="{ error: error !== undefined, 'is-trying': isTrying }">
    <mat-card>
        <app-tile [tile]="{ letter: 'S', value: 0 }" [hideValue]="true"></app-tile>
        
        <div class="messages">
            <p *ngIf="error === undefined">Chargement<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></p>
            <p *ngIf="error !== undefined" class="error-message">{{ error }}</p>
            <p *ngIf="isTrying" class="trying-message">Tentative de reconnexion<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></p>
        </div>
    </mat-card>
</div>