<div class="container">
    <div>
        <div class="info" id="opponent">
            <app-icon icon="chess-rook" size="lg"></app-icon>
            &nbsp; Adversaire: {{ lobby.playerName }}
        </div>
        <div class="info">
            <app-icon icon="gamepad" size="lg"> </app-icon>
            &nbsp; Type de partie: {{ lobby.gameType }}
        </div>
    </div>
    <div>
        <div class="info">
            <app-icon icon="hourglass-half" size="lg"></app-icon>
            &nbsp; Temps par tour: {{ convertTime().minutes }} : {{ convertTime().seconds }}
        </div>
    </div>

    <div class="right-side">
        <div
            class="button-container"
            matTooltip="Veuillez entrer un nom valide différent de {{ lobby.playerName }}"
            matTooltipClass="example-tooltip-red"
            [matTooltipDisabled]="lobby.canJoin"
        >
            <button mat-flat-button id="join-button" color="primary" [disabled]="!lobby.canJoin" (click)="joinLobby()">
                <app-icon icon="swords" size="lg"></app-icon>
                &nbsp; Joindre
            </button>
        </div>
    </div>
</div>
