<mat-card class="content">
    <div class="info">
        <p class="name">{{ lobby.hostName }}</p>
        <div class="chip-list">
            <div class="chip">
                <app-icon icon="hourglass-half" size="sm"></app-icon> {{ roundTime.minutes }}:{{ roundTime.getTimerSecondsPadded() }}
            </div>
            <div class="chip"><app-icon icon="gamepad"></app-icon> {{ lobby.gameType }}</div>
            <div class="chip">
                <app-icon icon="book"></app-icon>
                {{ lobby.dictionary.title }}
            </div>
        </div>
    </div>
    <div
        class="button-container"
        matTooltip="Veuillez entrer un nom valide différent de {{ lobby.hostName }}"
        matTooltipClass="example-tooltip-red"
        [matTooltipDisabled]="lobby.canJoin"
    >
        <button mat-flat-button id="join-button" color="primary" [disabled]="!lobby.canJoin" (click)="joinLobby()">
            <app-icon icon="swords" size="lg"></app-icon> Joindre
        </button>
    </div>
</mat-card>
