#timer-selection-value-button-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;

    #timer-selection-value-container {
        border: solid;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
    }

    #timer-selection-button-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
