<div id="timer-selection-container">
    <mat-label floatLabel="always">Choisissez le temps par tour</mat-label>
    <div id="timer-selection-value-button-container">
        <span id="timer-selection-value-container">
            <app-icon icon="hourglass-half" size="lg"></app-icon>
            <mat-label id="timer-selection-value">{{ timerValue * 1000 | date: 'm:ss' }}</mat-label>
        </span>
        <span id="timer-selection-button-container">
            <button mat-flat-button type="button" color="primary" (click)="decrementTimerValue()">-</button>
            <button mat-flat-button type="button" color="primary" (click)="incrementTimerValue()">+</button>
        </span>
    </div>
</div>
