<div id="board" #board (click)="clearNewlyPlacedTiles()">
    <mat-card id="board-container">
        <mat-grid-list cols="{{ gridSize.x + marginColumnSize }}" rowHeight="fit" gutterSize="3px" id="board-grid" class="full-size">
            <mat-grid-tile *ngFor="let item of [].constructor(gridSize.x + marginColumnSize); let i = index" [colspan]="1" [rowspan]="1">
                <p *ngIf="i > 0" class="letter-number-grid">{{ i }}</p>
            </mat-grid-tile>

            <div *ngFor="let squareRow of squareGrid; let i = index">
                <mat-grid-tile [colspan]="marginColumnSize" [rowspan]="1">
                    <p class="letter-number-grid">{{ marginLetters[i] }}</p>
                </mat-grid-tile>
                <mat-grid-tile *ngFor="let square of squareRow" [colspan]="square.squareSize.x" [rowspan]="square.squareSize.y" class="square-background">
                    <app-square [tileFontSize]="tileFontSize" [isCursor]="isSamePosition(square, selectedSquare)" [cursorOrientation]="navigator.orientation" class="full-size" [squareView]="square" (click)="onSquareClick(square)"></app-square>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </mat-card>
</div>
