<mat-grid-list cols="{{ boardSize.x + 2 * marginColumnAmount }}" rowHeight="fit" id="board-grid">
    <mat-grid-tile [colspan]="boardSize.x + 2 * marginColumnAmount" [rowspan]="1" [style.background]="'grey'"></mat-grid-tile>

    <div *ngFor="let squareRow of squares">
        <mat-grid-tile [colspan]="marginColumnAmount" [rowspan]="1" [style.background]="'grey'"></mat-grid-tile>
        <mat-grid-tile id="square" *ngFor="let square of squareRow" [colspan]="square.squareSize.x" [rowspan]="square.squareSize.y">
            <app-square [squareView]="square"></app-square>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="marginColumnAmount" [rowspan]="1" [style.background]="'grey'"></mat-grid-tile>
    </div>

    <mat-grid-tile [colspan]="boardSize.x + 2 * marginColumnAmount" [rowspan]="1" [style.background]="'grey'"></mat-grid-tile>
</mat-grid-list>
