.center{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5px;
}
.sameline{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.button{
    padding: 5px;
}

.image{
    padding: 20px
}