<div class="page">
    <mat-card class="header">
        <div class="content">
            <div class="back-btn" [routerLink]="'/'">
                <app-icon icon="arrow-left" styling="solid"></app-icon>
                <img src="https://bit.ly/3m206ss" />
            </div>

            <div class="title">Sélection de partie</div>

            <a routerLink="/game-creation" class="link">Créer une partie</a>
        </div>
    </mat-card>

    <div class="container">
        <div class="steps">
            <div class="step" [ngClass]="{ completed: playerNameValid }">
                <div class="step-indicator">
                    <p class="indicator"><span>1</span></p>
                </div>
                <div class="step-content" id="name-input-container">
                    <mat-card>
                        <app-name-field
                            [initialPlayerName]="playerName"
                            [virtualPlayerName]="''"
                            [mustVerifyVirtualPlayerName]="false"
                            (keydown.enter)="$event.preventDefault()"
                            (playerNameChange)="onPlayerNameChanges($event)"
                        ></app-name-field>
                    </mat-card>

                    <mat-divider class="step-divider"></mat-divider>
                </div>
            </div>

            <div class="step" [ngClass]="{ disabled: !playerNameValid }">
                <div class="step-indicator">
                    <p class="indicator"><span>2</span></p>
                </div>
                <div class="step-content" id="lobby-container">
                    <mat-card>
                        <p *ngIf="numberOfLobbiesMeetingFilter > 0">
                            Choisissez une partie<span *ngIf="numberOfLobbiesMeetingFilter > 1"> ou rejoignez une partie aléatoire</span>.
                        </p>
                        <p *ngIf="numberOfLobbiesMeetingFilter === 0">Aucune partie disponible.</p>
                        <button
                            mat-flat-button
                            color="primary"
                            *ngIf="numberOfLobbiesMeetingFilter > 0"
                            [disabled]="numberOfLobbiesMeetingFilter <= 1 || !playerNameValid"
                            (click)="joinRandomLobby()"
                        >
                            <app-icon icon="random"></app-icon> Partie aléatoire
                        </button>
                    </mat-card>

                    <br />

                    <mat-card class="form-container">
                        <div class="info">
                            <p class="title">Filtre</p>
                            <p class="lobby-amount" *ngIf="numberOfLobbiesMeetingFilter > 1">{{ numberOfLobbiesMeetingFilter }} parties trouvées</p>
                            <p class="lobby-amount" *ngIf="numberOfLobbiesMeetingFilter === 1">{{ numberOfLobbiesMeetingFilter }} partie trouvée</p>
                            <p class="lobby-amount" *ngIf="numberOfLobbiesMeetingFilter === 0">Aucune partie trouvée</p>
                        </div>

                        <div class="forms">
                            <form [formGroup]="filterFormGroup">
                                <mat-form-field appearance="standard">
                                    <mat-label>Type de partie</mat-label>
                                    <mat-select formControlName="gameType">
                                        <mat-option value="all">Tous</mat-option>
                                        <mat-option value="Classique">Classique</mat-option>
                                        <mat-option value="LOG2990">LOG2990</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </form>
                        </div>
                    </mat-card>

                    <div class="grid">
                        <ng-container *ngFor="let lobby of lobbies">
                            <app-lobby-info [lobby]="lobby" *ngIf="lobby.meetFilters" (joinLobbyId)="joinLobby($event)"></app-lobby-info>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
