<h1>Sélection de partie</h1>

<form>
        <label for="nom">Nom d'utilisateur: </label> 
        <mat-form-field appearance="fill">
            <input matInput id="nom" type="text" placeholder="Ex:Michel Gagnon" value="Joueur 1">
        </mat-form-field>
</form>
<mat-divider></mat-divider>

<mat-list>
    <!-- <div mat-subheader>Parties classiques</div>
    <app-lobby-info *ngFor="let classicLobby of classicLobbies">
    </app-lobby-info>
    <mat-divider></mat-divider>
    <div mat-subheader>Parties classiques</div>
    <app-lobby-info *ngFor="let specialLobby of specialLobbies">
    </app-lobby-info> -->
</mat-list>
<footer>
    <button mat-flat-button color="primary" routerLink="/home">Retour à l'accueil</button>
</footer>