.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width:35%
}
body{
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

h1 {
  padding-top: 1ex;
  text-align: center;
  font-size: 5ex;
}
form {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.mat-divider{
  border-width: 2px;
  border-color: rgba(128, 128, 128, 0.233);
  margin-top: -1em;
}

footer {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(128, 128, 128);
}

mat-label {
  font-size: 2ex;
}

input {
  font-size: 3ex;
  text-align: center;
}

.grid-container{
  justify-content: center;
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 2fr ;
  width: 95%;
}

