
.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  h1 {
    padding-top: 1ex;
    text-align: center;
    font-size: 5ex;

  }

  footer {
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
  }