@import '../../style/utils.scss';
@import '../../style/variables.scss';

$disabled: gray;
$line: rgb(202, 202, 202);

::ng-deep body {
    background: $page-background;
}

.steps {
    .step {
        display: flex;

        .step-indicator {
            padding: 24px;
            flex-grow: 0;
            position: relative;

            p.indicator {
                @include no-select;
                background-color: $primary;
                color: white;
                height: 24px;
                width: 24px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                cursor: default;
                transition: ease-in background 0.2s;
            }
        }

        .step-content {
            flex-grow: 1;
            padding: 12px 12px 12px 0;
            max-height: 100%;
            transition: ease-in opacity 0.2s;
        }

        .step-divider {
            margin-top: 24px;
        }

        &:not(:last-child) {
            .step-indicator {

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    top: 52px;
                    left: 50%;
                    width: 2px;
                    transform: translateX(-50%);
                }

                &:after {
                    background-color: $line;
                    height: calc(100% - 31px);
                    z-index: -2;
                }

                &:before {
                    background-color: $primary;
                    height: 0;
                    z-index: -1;
                    transition: ease-in height 0.2s;
                }
            }

            &.completed .step-indicator {
                &:before {
                    height: calc(100% - 31px);
                    transition: ease-in height 0.2s;
                }
            }
        }

        &.disabled {
            .step-indicator p.indicator {
                background-color: gray;
                transition: ease-in background 0.2s;
            }

            .step-content {
                @include no-select;
                opacity: 0.45;
                transition: ease-in opacity 0.2s;
            }
        }
    }
}

.page {
    .container {
        max-width: $page-max-width;
        margin: 0 auto;
        padding-top: 54px;

        .steps {
            max-height: 100%;
        }
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
}

#name-input-container mat-card {
    box-sizing: border-box;
    margin-top: 12px;
    padding: 12px 12px 0 12px;

    app-name-field {
        width: 100%;
    }
}

#lobby-container {
    mat-card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
        }
    }

    .form-container {
        margin-bottom: 12px;

        .title {
            font-size: 1.3em;
        }

        .lobby-amount {
            opacity: 0.55;
        }
    }

    mat-divider {
        margin: 24px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        @media screen and (max-width: 830px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
