<mat-form-field appearance="outline">
    <mat-label>Nom du joueur</mat-label>
    <input matInput id="playerNameController" type="text" [formControl]="playerNameController" autocomplete="off" (ngModelChange)="onNameFieldChange($event)">
</mat-form-field>
<span *ngIf="playerNameController.invalid && (playerNameController.dirty || playerNameController.touched)" class="alert">
    <span *ngIf="playerNameController.errors?.['minlength']">
        Votre nom doit contenir au moins 2 caractères.
    </span>
    <span *ngIf="playerNameController.errors?.['maxlength']">
        Votre nom doit contenir au plus 20 caractères.
    </span>
    <span *ngIf="playerNameController.errors?.['pattern'] && !playerNameController.errors?.['maxlength']">
        Votre nom ne peut pas contenir de caractères spéciaux.
    </span>
</span>
