<h2 mat-dialog-title>Convertir en partie solo</h2>
<mat-dialog-content>
    <div class="container">
        <mat-card>
            <form [formGroup]="gameParameters" (ngSubmit)="onSubmit()">
    <ng-container>
        <mat-label class="button-toggle-label" id="level-label">Choisissez le niveau de votre adversaire virtuel</mat-label>
        <mat-button-toggle-group id="level-buttons" formControlName="level">
            <mat-button-toggle id="begginer-button" [value]="virtualPlayerLevels.Beginner">
                <mat-card class="content">
                    <app-icon icon="turtle" styling="solid"></app-icon>
                    <p class="text">{{ virtualPlayerLevels.Beginner }}</p>
                </mat-card>
            </mat-button-toggle>

            <div matTooltip="Pas encore implémenté" matTooltipPosition="above">
                <mat-button-toggle id="expert-button" [value]="virtualPlayerLevels.Expert" [disabled]="true">
                    <mat-card class="content">
                        <app-icon icon="rabbit" styling="solid"></app-icon>
                        <p class="text">{{ virtualPlayerLevels.Expert }}</p>
                    </mat-card>
                </mat-button-toggle>
            </div>
        </mat-button-toggle-group>

        <mat-form-field appearance="outline">
            <mat-label floatLabel="always">Choissez votre adversaire virtuel</mat-label>
            <mat-select formControlName="virtualPlayerName" (selectionChange)="isFormValid()">
                <mat-option *ngFor="let virtualPlayer of virtualPlayerNames" value="{{ virtualPlayer }}">{{ virtualPlayer }}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
</form>
</mat-card>
</div>
</mat-dialog-content>
<mat-dialog-actions align='end'>
    <ng-container>
        <button mat-button mat-dialog-close  (click)='handleReturnClick(btn)'>Retourner en attente</button>
        <div class="buttons">
            <div
                class="button-container"
                matTooltip="Veuillez remplir tous les champs avec des données valides"
                [matTooltipDisabled]="isFormValid()"
                matTooltipPosition="above"
            >
                <button mat-flat-button color="primary" type="submit" id="convert-game-button" [disabled]="!isFormValid()" cdkFocusInitial>
                    Démarrer la partie solo
                </button>
            </div>
        </div>
        <!-- <button mat-button mat-dialog-close [disabled]="isFormValid()" (click)='handleConvertClick(btn)'>Démarrer la partie solo</button> -->
    </ng-container> 
</mat-dialog-actions>