<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    
</mat-dialog-content>
<mat-dialog-actions align='end'>
    <mat-form-field
        appearance="outline"
        [formGroup]="formParameters"
        matTooltip="Le nom du dictionnaire doit être entre 2 et 30 caractères sans caractères spéciaux"
        matTooltipPosition="above"
    >
        <mat-label><app-icon icon="pencil"></app-icon> Renommer le dictionnaire</mat-label>
        <input
            matInput
            id="dictionaryNameValidator"
            type="text"
            formControlName="inputDictionaryName"
            autocomplete="off"
            (ngModelChange)="onChange()"
            (valueChanges)="onChange()"
        />
    </mat-form-field>
</mat-dialog-actions>
<mat-dialog-actions align='end'>
    <mat-form-field
    appearance="outline"
    [formGroup]="formParameters"
    matTooltip="La description doit être entre 2 et 30 caractères sans caractères spéciaux"
    matTooltipPosition="above"
    >
    <mat-label><app-icon icon="pencil"></app-icon> Nouvelle description du dictionnaire</mat-label>
    <input
        matInput
        id="dictionaryDescriptionValidator"
        type="text"
        formControlName="inputDictionaryDescription"
        autocomplete="off"
        (ngModelChange)="onChange()"
        (valueChanges)="onChange()"
    />
    </mat-form-field>
</mat-dialog-actions>

<button mat-button color = "primary" (click)="updateDictionary()" [disabled]="!isNewInformationValid">
    <app-icon icon="pencil"></app-icon>
    Modifier
</button>
<button mat flat button mat-button color = "primary" (click)="closeDialog()">
    <app-icon icon="ban"></app-icon>
    Annuler
</button>
