<div id="rack-grid" (click)="focus()">
    <mat-card>
        <div id="rack-card-container" [class]="'selection-' + selectionType">
            <div class="rack-tile-container" 
                *ngFor="let tile of tiles" [ngClass]="{ selected: tile.selected, hidden: tile.played }"
                (click)="selectTile('exchange', tile)"
                (contextmenu)="selectTile('move', tile)"
            >
                <app-tile [tile]="tile" [ngStyle]="{'fontSize': tileFontSize+'em'}" class="rack-tile">
                    {{ tile.letter }}
                </app-tile>
            </div>
        </div>
        <div id="rack-button-container" class="rack-card">
            <div matTooltip="Veuillez utiliser le chat" matTooltipPosition="above">
                <button mat-raised-button class="btn-rack" color="primary" [disabled]="true">
                    <app-icon icon="exchange"></app-icon> Échanger
                </button>
            </div>
            <div matTooltip="Veuillez utiliser le chat" matTooltipPosition="above">
                <button mat-raised-button class="btn-rack" color="primary" [disabled]="selectedTiles.length === 0" (click)="unselectAll()">
                    <app-icon icon="undo"></app-icon> Annuler
                </button>
            </div>
        </div>
    </mat-card>
</div>
