<div id="rack-grid" (click)="focus()">
    <mat-card>
        <div id="rack-card-container" [class]="'selection-' + selectionType" [ngClass]="{'is-shuffling': isShuffling}" (wheel)="onScroll($event)">
            <div class="rack-tile-container" 
                *ngFor="let tile of tiles" [ngClass]="{ selected: tile.isSelected, hidden: tile.isUsed }"
                (click)="selectTileToMove(tile)"
                (contextmenu)="selectTileToExchange(tile)"
            >
                <app-tile [tile]="tile" [ngStyle]="{'fontSize': tileFontSize+'em'}" class="rack-tile">
                    {{ tile.letter }}
                </app-tile>
            </div>

            <button mat-raised-button color="primary" class="shuffle-button" (click)="shuffleTiles()"><app-icon icon="random"></app-icon></button>
        </div>
        <div id="rack-button-container" class="rack-card">
            <div matTooltip="Assurez vous d'avoir des tuiles sélectionnées et que ce soit votre tour" matTooltipPosition="above" [matTooltipDisabled]="canExchangeTiles()">
                <button mat-raised-button class="btn-rack" color="primary" [disabled]="!canExchangeTiles()" (click)="exchangeTiles()">
                    <app-icon icon="exchange"></app-icon> Échanger
                </button>
            </div>
            <div matTooltip="Aucune tuile sélectionnée" matTooltipPosition="above" matTooltipDisabled="selectedTiles.length === 0">
                <button mat-raised-button class="btn-rack" color="primary" [disabled]="selectedTiles.length === 0" (click)="unselectAll()">
                    <app-icon icon="undo"></app-icon> Annuler
                </button>
            </div>
        </div>
    </mat-card>
</div>
