<div id="rack-grid" class="full-size">
    <div id="rack-card-container" align="center">
        <mat-card id="rack-tile-card" class="rack-card">
            <app-tile *ngFor="let tile of tiles" [tile]="tile" class="rack-tile"></app-tile>
        </mat-card>
    </div>
    <div id="rack-button-container" class="rack-card">
        <button mat-raised-button class="btn-rack" color="primary">Échanger</button>
        <button mat-raised-button class="btn-rack" color="primary">Annuler</button>
    </div>
</div>
