<div id="outer-container">
    <section id="objectives-container">
        <mat-accordion multi>
            <!-- <mat-expansion-panel>
                <mat-expansion-panel-header>Objectifs</mat-expansion-panel-header>
                <div *ngFor="let obj of objectives">{{obj}}</div>
            </mat-expansion-panel> -->

            <mat-expansion-panel id="tile-map" [expanded]="true">
                <mat-expansion-panel-header>Tuiles restantes : {{lettersLeft.length}}</mat-expansion-panel-header>
                <div class="tile-map-content">
                    <p *ngFor="let letter of lettersLeft">
                        <app-tile [tile]="{ letter: letter.letter, value: 0 }" [hideValue]="true"></app-tile>
                        <span class="separator">:</span>
                        <span class="amount">{{ letter.amount }}</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
    <section id="text-box-container">
        <mat-card>
            <cdk-virtual-scroll-viewport itemSize="30*7" class="scrolling-area" #virtualScroll>
                <div [class]="'scroll-item ' + msg.class" *cdkVirtualFor="let msg of messages">
                    <!-- <p class="info">
                        <span class="sender">{{ msg.sender }}</span>
                        <span class="date">{{ msg.date.getHours() }}:{{ msg.date.getMinutes() }}</span>
                    </p>
                    <p class="message">{{ msg.text }}</p> -->
                    <!-- <p class="info">
                        <span class="sender">{{ msg.sender }}</span>
                        <span class="message">{{ msg.text }}</span>
                    </p> -->
                    <div class="message-container">
                        <!-- <p class="date">{{ msg.date.getHours() }}:{{ msg.date.getMinutes() }}</p> -->
                        <p class="message">{{ msg.text }}</p>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
            <form class="input-zone" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
                <input matInput type="text" formControlName="content" placeholder="Message..." [(ngModel)]="message"/>
                <button id="send-button" stype="submit" mat-flat-button color="primary">Envoyer</button>
            </form>
        </mat-card>
    </section>
    <section id="text-button-container">
        <mat-card>
            <p><app-icon icon="text-size"></app-icon> Taille de la police</p>
            <div class="text-buttons">     
                <button mat-flat-button color="primary"><app-icon icon="minus"></app-icon></button>
                <button mat-flat-button color="primary"><app-icon icon="plus"></app-icon></button>
            </div>
        </mat-card>
    </section>
</div>