<div id="outer-container">
    <section id="objectives-container">
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>Objectifs</mat-expansion-panel-header>
                <div *ngFor="let obj of objectives">{{obj}}</div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>Tuiles restantes : {{lettersLeft.length}}</mat-expansion-panel-header>
                <span *ngFor="let letter of lettersLeft">{{letter}}</span>
            </mat-expansion-panel>

        </mat-accordion>
    </section>

    <section>
        <cdk-virtual-scroll-viewport itemSize="30*7" class="scrolling-area" #virtualScroll>
            <div class="scroll-item" *cdkVirtualFor="let msg of messages">{{msg}}</div>
        </cdk-virtual-scroll-viewport>
    </section>

    <form class="input-zone" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <input matInput type="text" formControlName="content" [(ngModel)]="message" autocomplete="off"/>
        <button id="send-button" stype="submit" mat-flat-button color="primary">Envoyer</button>
    </form>
</div>
