$spacing: 8px;
$border-color: rgb(228, 228, 228);
$primary-color: #1b5e20;

#outer-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;

    & > section:not(:last-child) {
        margin-bottom: $spacing;
    }

    section#objectives-container {
        #tile-map {
            .tile-map-content {
                display: flex;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
                
                p {
                    display: flex;
                    margin: 0 8px 8px 8px;

                    app-tile {
                        height: 20px;
                        width: 20px;
                        font-size: 0.7em;
                    }

                    .separator {
                        margin: 0 4px;
                    }
                }
            }
        }
    }

    section#text-box-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        mat-card {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            cdk-virtual-scroll-viewport {
                flex-grow: 1;
                border: solid 2px rgb(207, 207, 207);
                border-radius: 4px;
                margin-bottom: 6px;
                text-align: left;
                overflow-x: scroll;

                .scroll-item {
                    padding: 0 12px;

                    p {
                        margin: 0;

                        &.date {
                            text-align: center;
                            font-size: 0.85em;
                            opacity: 0.55;
                        }
                        &.message {
                            width: fit-content;
                            max-width: 80%;
                            padding: 4px 12px;
                            border-radius: 0.25em;
                        }
                    }

                    &:first-child {
                        margin-top: 12px;

                        p.message {
                            border-top-left-radius: 1em;
                            border-top-right-radius: 1em;
                        }
                    }

                    &.system {
                        text-align: center;

                        p.message {
                            width: 100%;
                            max-width: 100%;
                            margin: 8px 0;
                            opacity: 0.8;
                        }

                        & + .me p.message, & + .opponent p.message {
                            border-top-left-radius: 1em;
                            border-top-right-radius: 1em;
                        }
                    }
                    &.opponent {
                        p.message {
                            background: $primary-color;
                            color: white;
                            border-top-right-radius: 1em;
                            border-bottom-right-radius: 1em;
                        }

                        & + .opponent {
                            margin-top: 3px;
                        }
                        & + .me p.message {
                            margin-top: 8px;
                            border-top-left-radius: 1em;
                            border-top-right-radius: 1em;
                        }
                    }
                    &.me {
                        p.message {
                            margin-left: auto;
                            background: rgb(216, 216, 216);
                            border-top-left-radius: 1em;
                            border-bottom-left-radius: 1em;
                        }

                        & + .me {
                            margin-top: 3px;
                        }
                        & + .opponent p.message {
                            margin-top: 8px;
                            border-top-left-radius: 1em;
                            border-top-right-radius: 1em;
                        }
                    }
                }
            }

            form {
                display: flex;
                align-items: stretch;
                border: solid 2px rgb(207, 207, 207);
                padding: 4px;
                border-radius: 4px;

                input {
                    flex-grow: 1;
                    border: none;
                    margin-right: 6px;
                    font-size: inherit;
                    font-family: inherit;
                    outline: none;
                }
            }
        }
    }

    section#text-button-container {
        mat-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;

            p {
                margin: 0 12px 0 0;
            }

            .text-buttons {
                flex-grow: 1;
                display: flex;
                max-width: 160px;

                button {
                    flex-grow: 1;
                    font-size: 0.95em;

                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}